.header {
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-date {
  font-size: 1.6rem;
  font-weight: 600;
}

.header ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header ul li {
  font-size: 1.6rem;
  margin-left: 5rem;
  color: #abafb3;
}

.header ul li:hover {
  cursor: pointer;
  color: white;
}

.header ul .active {
  color: white;
}

.task-number {
  padding: 0;
  margin: 0.5rem 0 0 0;
  color: #61dbfb;
  font-size: 1.2rem;
}

span {
  color: white;
  font-weight: bold;
}
